<%- include("../../shared/includes/head",{pageTitle:"Failure!"}) %>

</head>

    <body>

        <%- include("../../shared/includes/header") %>

        <main>
            
            
           
            <h1>Payment failed</h1>
                
        </main>

    </body>

</html>