<%- include("./includes/head",{pageTitle:"Oops!"}) %>

</head>

    <body>

        <%- include("./includes/header") %>

        <main>
            <h1>You are not authenticated</h1>
            <p>Please log in</p>
            <a class="btn" href="/login">Login!</a>
        </main>

    </body>

</html>