<%- include("./includes/head",{pageTitle:"Oops!"}) %>

</head>

    <body>

        <%- include("./includes/header") %>

        <main>
            <h1>You are not authorized</h1>
            <p>You are not allowed to view this page</p>
            <a class="btn" href="/">Back to safety!</a>
        </main>

    </body>

</html>