<%- include("./includes/head",{pageTitle:"Oops!"}) %>

</head>

    <body>

        <%- include("./includes/header") %>

        <main>
            <h1>Could not find the resource</h1>
            <p>No such resource exists</p>
            <a class="btn" href="/">Back to safety!</a>
        </main>

    </body>

</html>