<%- include("./includes/head",{pageTitle:"Oops!"}) %>

</head>

    <body>

        <%- include("./includes/header") %>

        <main>
            <h1>Something went wrong!</h1>
            <p>Please try again later</p>
            <a class="btn" href="/">Back to safety!</a>
        </main>

    </body>

</html>